*{
    margin: 0;
    padding: 0;
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header{
    background-color: aqua;
}
nav{
    padding: 50px 0;
    background-color: blueviolet;
    text-decoration: none;
}
a{
    color: bisque;
    transition: all 0.2s ease-in-out;
}
a:hover{
    cursor: pointer;
    color: chartreuse;
    transform: scale(1.2);
}
main{
    max-width:fit-content;
    padding: 25px;
}
footer{
    text-align: center;
    background-color: brown;
    padding: 50px 0;
}
img{
    height: 250px;
    width: 50vh;
    transition: 0.2s ease-in-out ;
}
img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.photoList{
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
.animationText {
    font-size: 30px;
    background-color: aqua;
    padding: 50px 150px;
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    display: block;
}
